

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin: 0 auto;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.main {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  background-color: red;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  margin: 40px 0px;
  background: #D8E6F2;
}

.main ul .badge{
  background-color: #59A9F0;

}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 500px) {
  .container {
    max-width: 500px;

  }


  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
