/* main custom css file */

.not-ready {
  display: none;
}

.name {
  display: block;
  float: left;
  text-align: left;
}

.wrapper{
  padding: 20px 30px;
}

.name::after{
  content: ':';
}

.badge {
  display: block;
  float: right;
  text-align: right;
}

.loadingMsg{
  margin-top: 15px;
}

.toggle{
  margin-bottom: 20px;
  background-color: #3A81A7;
}

/* 503.html page */

.serverDown{
  margin-bottom: 0px;
}

/* stats-aggregated-full.html css */

.fullStatsWrapper{
  margin-bottom: 50px;
}

.fullStatsWrapper:last-child{
  margin-bottom: 0px;
}

.taskParagraph{
  text-align: left;
  margin-left: 5px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
}


.list-group-custom{
  list-style: none;
  overflow: hidden;
  padding: 5px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  transition-duration: ms;
  transition-timing-function: linear;
  cursor: default;
}


.list-group{
  padding: 0px;
}

.list-group-custom:hover{
   background-color: #EBEEF5;
   border-radius: 10px;
}


/* Contatcs css */


.info-field{
  list-style: none;
  overflow: hidden;
  text-align: center;
  line-height: 1.62857143em;
}

.info-name, .value {
  float: left;
  width: 35%;
}

.info-name{
  text-align: left;
}

.value {
  text-align: right;
  width: 65%;
}

.info ul li{
  margin-bottom: 0px;
}

.info p,ul {
  margin: 0;
  padding: 0;
}

.info-ul {
  padding: 20px 30px;
}

.spinner{
  margin-bottom: 20px;
  margin-top: 10px;
}

.not-found h2 {
  margin-bottom: 0px;
  padding: 1em;
}

.navbar-default .navbar-brand {
  background: url('../images/3colors-100.png') no-repeat 5px,left;
  background-size: 40px 40px;
  padding-left: 47px;
  margin-left: 5px;
}
