/* main custom css file */

.not-ready {
  display: none;
}

.name {
  display: block;
  float: left;
  text-align: left;
}

.name::after{
  content: ':';
}

.badge {
  display: block;
  float: right;
  text-align: right;
}

.list-group-custom{
  list-style: none;
  overflow: hidden;
  padding: 5px;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  transition-duration: ms;
  transition-timing-function: linear;
}


.list-group{
  padding: 0 20px;

}

.list-group-custom:hover{
   background-color: #C9D1D1;
   border-radius: 45px ;

}
