<div class="info">
  <ul class="info-ul">
    <li class="info-field">
      <p class="info-name"><span class="glyphicon glyphicon-list-alt"></span> Registration code:</p>
      <p class="value"> 303048373</p>
    </li>
    <li class="info-field">
      <p class="info-name"><span class="glyphicon glyphicon-certificate"></span> VAT:</p>
      <p class="value"> LT100008291013</p>
    </li>
    <li class="info-field">
      <p class="info-name"><span class="glyphicon glyphicon-user"></span> Manager:</p>
      <p class="value"> Levin Aleksandr</p>
    </li>
    <li class="info-field">
      <p class="info-name"><span class="glyphicon glyphicon-home"></span> Address:</p>
      <p class="value"> A. Goštauto g. 8, LT-01013 Vilnius</p>
    </li>
    <li class="info-field">
      <p class="info-name"><span class="glyphicon glyphicon-phone"></span> Telephone:</p>
      <p class="value"> +370 5 2032402</p>
    </li>
  </ul>
</div>
